/* стилі головної сторінки, хедера і футера */

:root {
    --dark-color: #212121;
    --grey-color: #757575;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: var(--grey-color);
}

.page-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--nav-color);
}

.page-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000;
    
}

.logo-web {
    color: #2196F3;
}

.header-nav a:hover,
.header-nav a:focus, 
.mail-tel a:hover,
.mail-tel a:focus {
    color: #2196F3;
}

li.current-page a{
    color: #2196F3;
}

.header-nav, .mail-tel{
    list-style: none;
}

.studio,.portfolio,.contact {
    color: var(--dark-color)
}

.mailto,.tel {
    color: var(--grey-color)
}

.link {
    text-decoration: none;
}

.first-section {
    background-color: #2F303A;
}

.effect-solut {
    color:#ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.open-btn {
    font-family:'Roboto', sans-serif;
    cursor: pointer;
    color: #ffffff;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.second-section {
    font-size: 14px;
    letter-spacing: 0.03em;
    
}

.our-features {
    display: none;
}

.secd-sect-list {
    list-style: none;
}

.secd-sect-title {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--dark-color);
}

.secd-sect-text {
    line-height: 1.71;
}

.what-we-do {
    color: var(--dark-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.thrid-sec-list {
    list-style: none;
}

.fourth-section {
    background: #F5F4FA;
}

img {
    display: block;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-color);
}

.fourth-sec-list {
    list-style: none;
}

.fourth-sec-items {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.name-teammate {
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-color);
}

.address-block {
    background: #2F303A;
}

.page-logo-footer {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
}

.footer-contacts {
    list-style: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}

.geoloc {
    color: #FFFFFF;
}

.footer-mail, .footer-tel {
    color: rgba(255, 255, 255, 0.6);
}

/* стилі сторінки портфоліо */

.portfolio-title {
    display: none;
}

.portfolio-filter button:hover,
.portfolio-filter button:focus {
    color: #fff;
    background-color: #2196F3;
}

.portfolio-filter {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    color: var(--dark-color)
}

.portfolio-list {
    list-style: none;
}

.portfolio-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-color);
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}